{% extends 'homepage.html'%}

{% block left %}

<div style='height: 95vh; overflow-y: auto; overflow-x: hidden; margin-bottom: 10px; padding-right: 40px'>

    {% for tweet in author.tweets %}
    <div class='container p-2 mx-4 mb-4 feed_box'>
        <img style='margin-bottom: 10px; margin-right: 10px' src={{tweet.author.image}}>
        <b><a class='text-my-own-color' href=' /authors/{{tweet.author_id}}'>{{tweet.author.name}}</a></b>
        <div class='tweet-text'>{{tweet.text|safe}}
        </div>

        {% for media in tweet.media %}
        <div class='bg-dark'>
            {% if media.media_type == 'video' %}
            <video controls class='media img-fluid'>
                <source src={{media.url}} type="video/mp4">
            </video>
            {% elif media.media_type == 'photo' %}
            <img class='media img-fluid' src={{media.url}}>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block middle %}

<div class='container feed_box p-2 mb-4'>
    <img src={{author.banner}} class='img-fluid mb-4'>
    <img style='margin-bottom: 10px; margin-right: 10px' src={{author.image}}>
    <b class='text-my-own-color'>{{author.name}}</b>
    <p class='tweet-text'>{{author.description}}</p>
</div>
{% endblock %}