{% extends 'homepage.html'%}

{% block left %}

<div style='height: 95vh; overflow-y: auto; overflow-x: hidden; margin-bottom: 10px; padding-right: 40px'>

    {% for mention in mentions %}
    <div class='container p-2 mx-4 mb-4 feed_box'>
        <img style='margin-bottom: 10px; margin-right: 10px' src={{mention.image}}>
        <b><a class='text-my-own-color' href=' /mentions/{{mention.screen_name}}'>{{mention.name}}
                <small class='text-yellow'>@{{mention.screen_name}}</small></a></b>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block middle %}
<div class='container feed_box p-2 mb-4 text-center'>
    <p class='text-my-own-color'>Mentions</p>
    <div class='center bg-dark col-12 p-2'>
        <img class='img-fluid' src='/static/word.jpeg'>
    </div>
</div>
{% endblock %}