{% extends 'homepage.html'%}

{% block left %}

<div style='height: 95vh; overflow-y: auto; overflow-x: hidden; margin-bottom: 10px; padding-right: 40px'>

    {% for tweet in user.author.tweets %}
    <div class='container p-2 mx-4 mb-4 feed_box'>
        <img style='margin-bottom: 10px; margin-right: 10px' src={{tweet.author.image}}>
        <b><a class='text-my-own-color' href=' /authors/{{tweet.author_id}}'>{{tweet.author.name}}</a></b>
        <div class='tweet-text'>{{tweet.text|safe}}
        </div>

        {% for media in tweet.media %}
        <div class='bg-dark'>
            {% if media.media_type == 'video' %}
            <video controls class='media img-fluid'>
                <source src={{media.url}} type="video/mp4">
            </video>
            {% elif media.media_type == 'photo' %}
            <img class='media img-fluid' src={{media.url}}>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block middle %}
<img class='container center img-fluid mb-1 col-10' src='/static/sign_tweet.png'>
<div class='container row justify-content-center ml-1 mb-3'>
    <a class='btn-home text-center col-2' href='/authors/{{user.author_id}}'>Me</a>
    <a class='btn-home text-center col-3' href='/'>Home</a>
    <a class='btn-home text-center col-2' href='/authors/all'>Friends</a>
</div>
<div class='container feed_box p-2 mb-4'>
    <form action='/authors/{{user.author_id}}/tweets/new' method='POST' class='bg-light p-4'>
        {{form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}

        <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary">Tweet!</button>
    </form>
</div>
{% endblock %}